@import "./colSwitches.css";
@import "./downloadButton.css";
@import "./metersMenu.css";
@import "./metersTable.css";

body {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   color-scheme: light;
   margin: 0;

   /* TODO: Change the 2 values below accordingly */
   min-width: 400px;
   min-height: 178px;

   /* Variables */
   --fonts: system-ui, Arial, Helvetica, sans-serif;
   --fonts-size: 15px;
   --row-height: 1.9rem;
   --spacing: 0.5rem;
   --inclusive-color: forestgreen;
   --exclusive-color: crimson;

   padding: var(--spacing);
}

/* Force font into elements that don't inherit it from the body ancestor. */

button,
select,
input {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
   /* border-radius: 5px; */
}

/* Table styles */

td,
th,
caption {
   padding-top: 2px;
   padding-bottom: 2px;
}

/* Button styles */

button {
   border-width: 1px;
}

.icon-btn {
   width: 40px;
   height: 40px;
}

.text-btn {
   padding: 6px;
}

.ok-btn {
   background-color: aquamarine;
}

.ok-btn:hover {
   background-color: aqua;
}

.ok-btn:active {
   background-color: lightgreen;
}

.not-ok-btn {
   background-color: lightgray;
}

.not-ok-btn:hover {
   background-color: pink;
}

.not-ok-btn:active {
   background-color: darksalmon;
}

/* Modal styles */

.denial-info {
   display: grid;
   justify-items: center;
}

.new-entry {
   display: grid;
}

.accept-cancel {
   display: flex;
   justify-content: space-evenly;
   padding-top: 14px;
}

/* Input styles */

select,
input {
   padding: 3px;
}

select:hover {
   background-color: aqua;
}

.latest-selection {
   background-color: palegreen;
}

.old-selection {
   background-color: pink;
}

.control {
   display: grid;
}

.label-span {
   padding-top: 3px;
   padding-bottom: 3px;
}