@import "./colSwitches.css";
@import "./downloadButton.css";
@import "./metersMenu.css";
@import "./metersTable.css";

body {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   color-scheme: light;
   margin: 0;

   /* TODO: Change the 2 values below accordingly */
   min-width: 400px;
   min-height: 178px;

   /* Variables */
   --fonts: system-ui, Arial, Helvetica, sans-serif;
   --fonts-size: 15px;
   --row-height: 1.9rem;
   --spacing: 0.5rem;
   --inclusive-color: forestgreen;
   --exclusive-color: crimson;

   padding: var(--spacing);
}

/* Force font into elements that don't inherit it from the body ancestor. */

button,
select,
input {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
   /* border-radius: 5px; */
}

/* Table styles */

td,
th,
caption {
   padding-top: 2px;
   padding-bottom: 2px;
}

/* Button styles */

.icon-btn {
   width: 40px;
   height: 40px;
}

.text-btn {
   padding: 7px;
}

.ok-btn {
   background-color: aquamarine;
}

.ok-btn:hover {
   background-color: aqua;
}

.ok-btn:active {
   background-color: lightgreen;
}

.not-ok-btn {
   background-color: lightgray;
}

.not-ok-btn:hover {
   background-color: pink;
}

.not-ok-btn:active {
   background-color: darksalmon;
}

/* Modal styles */

.denial-info {
   display: grid;
   justify-items: center;
}

/* Input styles */

select,
[type=text] {
   padding: 3px;
}

select {
   background-color: beige;
}

.control {
   display: grid;
}

.label-span {
   padding-top: 3px;
   padding-bottom: 3px;
}

/*
a:hover,
button:hover,
label:hover {
   background-color: rgba(255, 255, 153, 0.5);
   outline: 3px solid orange;
} */

/* button {
   font-family: var(--fonts);

   display: inline-flex;
   align-items: center;

   border: 1px solid black;
   background-color: transparent;
   color: crimson;
} */