@import "./colSwitches.css";
@import "./metersMenu.css";
@import "./tables.css";
@import "./buttons.css";
@import "./modals.css";
@import "./inputs.css";

body {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   color-scheme: light;
   margin: 0;

   /* TODO: Change the 2 values below accordingly */
   /* min-width: 400px; */
   /* min-height: 178px; */

   /* Variables */
   --fonts: system-ui, Arial, Helvetica, sans-serif;
   --fonts-size: 15px;
   --row-height: 1.9rem;
   --spacing: 0.5rem;
   --inclusive-color: forestgreen;
   --exclusive-color: crimson;
   --shortened-width: 225px;
   --grid-modal-gap: 12px;

   padding: var(--spacing);
   background-color: ghostwhite;
}

/* Force font into elements that don't inherit it from the body ancestor. */

button,
select,
input {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
}

.app-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 12px;

   h1 {
      font-size: 27px;
      margin: 0;
      padding-bottom: 6px;
      /* min-width: max-content; */
   }

   .titles {
      display: grid;

      /* min-width: max-content; */

      h2,
      h3 {
         margin: 0;
         color: green;
      }
   }

   .receipt-titles {
      display: grid;
   }

   .logo {
      width: 100px;
      height: 100px;
      border: 1px solid black;
      cursor: pointer;
   }
}

.centered-text {
   text-align: center;
}

.tabs {
   display: flex;

   label:has(:checked) {
      outline-width: 1px;
      outline-style: solid;
      outline-color: blueviolet;
   }

   label {
      border: 1px solid black;
      padding: 6px;
   }

   /* label:hover {
      background-color: cornsilk;
   } */

   label:first-child {
      background-color: honeydew;
   }

   label:last-child {
      background-color: lavenderblush;
   }
}

/* Menu styles: */

.meters-menu {
   display: flex;
   justify-content: space-evenly;

   background-color: honeydew;
   border: 1px solid black;
   padding-top: 12px;
   padding-bottom: 12px;

}

.fees-menu {
   display: flex;
   justify-content: space-evenly;

   background-color: lavenderblush;
   border: 1px solid black;
   padding-top: 12px;
   padding-bottom: 12px;
}

.validated:invalid {
   background-color: lightpink;
}

.validated:valid {
   background-color: lightgreen;
}