.meters-menu {
   display: flex;
   justify-content: space-evenly;
   /* display: flex; */

   /* display: grid;
   grid-template-rows: 1fr 1fr;
   grid-auto-flow: column; */
}



.validated:invalid {
   background-color: lightpink;
}

.validated:valid {
   background-color: lightgreen;
}